.rTable
{
	display: table;
	table-layout: fixed;	/* Make same with every cell. */
	width: 50%;
	background-color: #f7ebe1;
}

.rTableRow
{
	display: table-row;
}

.rTableCell
{
	display: table-cell;
	border: 1px solid #999999;
	text-align: center;
	color: #a05151;
	padding: 5% 0px;
	cursor: hand;
	font-size: 30pt;
}

.rTableCell:hover
{
	background-color: #ffd8b7;
}

.emptyCell
{
	background-color: #e2ddd9;
}

#month-name, #year-number
{
	display: inline;
}

button
{
	cursor: hand;
	margin-top: 8px;
	padding: .7%;
	margin-right: 8px;
	font-weight: bold;
}

body
{
	background-color: rgb(255, 249, 240);
	color: rgb(255, 81, 30);
}

